{% extends 'base.html.twig' %}

{% block title %}Extraction RN{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/loader.css') }}">
	<style>
        .my_container {
            width: 70%;
            margin: auto;
        }
	</style>
{% endblock %}

{% block body %}

	<div style="text-align: center">
		<a style="float: left" class="btn btn-primary" href="{{ path('scola') }}"><-</a>
		<h2 style="display: inline-block;margin: 0 auto">Extraction
			des {{ mode == 0 ? "relevés de notes" : "attestations de réussite" }}</h2>
	</div>

	<div class="my_container">

		{% form_theme form 'bootstrap_4_layout.html.twig' %}
		<div id="form_container" style="margin-top: 40px" class="container">
			{{ form(form) }}
		</div>

		{% if cancel %}
			<div class="row justify-content-md-center" style="margin-top: 10px;margin-bottom: 10px">
				<div class="bs-component">
					<div class="alert alert-dismissible alert-warning">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<p style="text-align: center">{{ cancel }}.</p>
					</div>
				</div>
			</div>
		{% endif %}

	</div>

{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
        $("#import_num_page").attr("disabled", "disabled");
        $('.custom-file input').change(function (e) {
            if (e.target.files.length) {
                $(this).next('.custom-file-label').html(e.target.files[0].name);
                if (($(this)).attr('id') === 'import_tampon')
                    $("#import_num_page").removeAttr("disabled");
            } else {
                $(this).next('.custom-file-label').html("");
                if (($(this)).attr('id') === 'import_tampon')
                    $("#import_num_page").attr("disabled", "disabled");
            }
        });
	</script>
{% endblock %}