{% extends 'base.html.twig' %}

{% block stylesheets %}
	<script type="text/javascript"
			src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/loader.css') }}">

{% endblock %}

{% block body %}

	<div style="text-align: center">
		<a id="cancel" style="float: left" class="btn btn-primary" href="{{ path('cancel_images', {'mode' : mode}) }}"><-</a>
		<h2 id="title" style="display: inline-block;margin: 0 auto">Positionnement du tampon</h2>
	</div>

	<div id="main" class="container">

		<div class="d-flex">
			<div class="p-2">
				<img ondrag="dragged(this)" style="z-index: 1" id="draggable" draggable="true"
					 src="{{ asset("tampons/" ~ user ~ "/" ~ image.filename) }}">
			</div>
			<div class="ml-auto p-2">
				<button id="btn" onclick="applyImages()" class="btn btn-primary">Appliquer les images</button>
			</div>
		</div>

		<div style="z-index: 0" class="row justify-content-md-center">
			<iframe id="pdf" width="840px" height="1180px"
					src="{{ asset("tampons/" ~ user ~ '/' ~ pdf.filename) }}#zoom=100&pagemode=none&scrollbar=0&toolbar=0&statusbar=1&messages=0&navpanes=0"
					style="pointer-events: none;"></iframe>
		</div>

	</div>

	<div id="anim" style="visibility: hidden" class="centered">
		<div class="loader"></div>
	</div>

{% endblock %}

{% block javascripts %}
	<script>
        setupAnim();
        window.onresize = () => setupAnim();
        window.onscroll = () => setupAnim();

        function setupAnim() {
            var scrollTop = $(window).scrollTop();
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            var main = $("#anim");
            main.css({
                top: ((windowHeight / 2) - (main.height() / 2)) + scrollTop + "px",
                left: ((windowWidth / 2) - (main.width() / 2)) + "px"
            });
        }

        function applyImages() {

            document.getElementById("anim").style.visibility = "visible";
            document.getElementById("main").style.opacity = '0.4';
            document.getElementById("btn").disabled = true;
            $('#draggable').draggable("disable");

            var position = agent ? googleMapping() : mozillaMapping();

            $.ajax({
                url: '{{ (path('apply_images')) }}',
                type: 'POST',
                dataType: 'json',
                data: {
					{# 'mode': "{{ mode }}",#}
                    'tampon': position,
                },
                success: function () {
                    window.location = "{{ path('truncate', {'mode': mode}) }}";
                },
                error: function (error) {
                    document.getElementById("anim").style.visibility = "collapse";
                    document.getElementById("main").style.opacity = '1';
                    document.getElementById("btn").disabled = false;
                    $('#draggable').draggable("enable");
                    alert("Une erreur est survenue.")
                }
            });

        }

        var img = document.getElementById('draggable');
        var pdf = document.getElementById('pdf');

        var img_width = $('#draggable').width();
        var img_height = $('#draggable').height();

        var agent = "{{ app.request.headers.get('User-Agent') }}".includes('Chrome');

        if (agent) {
            var pdf_width = pdf.getBoundingClientRect().width - 48; // -48 = -24 px de chaque coté
            var pdf_height = pdf.getBoundingClientRect().height - 5 - 54; // -5 du top, -54 du bot
        } else {
            var pdf_width = pdf.getBoundingClientRect().width - 48; // -48 = -24 px de chaque coté
            var pdf_height = pdf.getBoundingClientRect().height - 43 - 14; // -43 du top, -14 du bot
        }

        $(document).ready(function () {

            // console.log(agent ? "Chrome" : "Mozilla");
            //
            // console.log("Image size is " + img_width + ":" + img_height);
            // console.log("Pdf size is " + pdf_width + ":" + pdf_height);

            $('#draggable').draggable();
        });


        function dragged(event) {
            if (agent)
                googleMapping();
            else
                mozillaMapping();
        }

        function googleMapping() {
            let pdfRect = document.getElementById('pdf').getBoundingClientRect();
            let imgRect = document.getElementById('draggable').getBoundingClientRect();

            let position = {
                'x': imgRect.x - pdfRect.x - 24,
                'y': imgRect.y - pdfRect.y - 5,
            };

            return {
                'x': position.x * 210 / pdf_width,
                'y': position.y * 297 / pdf_height
            };
        }

        function mozillaMapping() {
            let pdfRect = document.getElementById('pdf').getBoundingClientRect();
            let imgRect = document.getElementById('draggable').getBoundingClientRect();

            let position = {
                'x': imgRect.x - pdfRect.x - 24,
                'y': imgRect.y - pdfRect.y - 43,
            };

            return {
                'x': position.x * 210 / pdf_width,
                'y': position.y * 297 / pdf_height
            };
        }
	</script>

{% endblock %}