{% extends 'base.html.twig' %}

{% block title %}Documents de scolarité{% endblock %}

{% block body %}

	<div style="text-align: center">
		{% if is_scola %}
			<a style="float: left" class="btn btn-primary" href="{{ path('student_search') }}"><-</a>
		{% endif %}

		<h1 style="display: inline-block;margin: 0 auto">Documents de scolarité</h1>
	</div>

	<div class="container">
		<div style="margin-top: 40px" class="row">

			<div class="col-6">
				<h3>Relevés de notes</h3>
				{% if rns is empty %}
					<div class="alert alert-info">
						Aucun relevé de notes vous concernant n'a été déposé par votre service scolarité
					</div>
				{% else %}
					<p>Les <strong>relevés de notes</strong> suivants sont disponibles :</p>
					<ul>
						{% for index,file in rns %}
							<li><a href="{{ path('download_rn',{'numero':numero,'index':index}) }}">{{ file }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="col-6">
				<h3>Attestations de réussite</h3>
				{% if attests is empty %}
					<div class="alert alert-info">
						Aucune attestation de réussite vous concernant n'a été déposée par votre service scolarité
					</div>
				{% else %}
					<p>Les <strong>attestations de réussite</strong> suivantes sont disponibles :</p>
					<ul>
						{% for index,file in attests %}
							<li><a href="{{ path('download_attest',{'numero':numero,'index':index}) }}">{{ file }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

		</div>
	</div>

	</div>
{% endblock %}
