{% extends 'base.html.twig' %}

{% block title %}Documents de scolarité{% endblock %}

{% block body %}
	<div class="container">

		{# {% for message in app.session.flashBag.get("success") %} #}
		{# <div class="row justify-content-md-center alert alert-success"> #}
		{# <h2>{{ message }}</h2> #}
		{# </div> #}
		{# {% endfor %} #}

		<div class="row justify-content-md-center">
			<h2>Gestion des documents de scolarité</h2>
		</div>

		<div style="margin-top: 40px" class="row">

			<div class="col-sm">
				<div class="card text-white bg-primary">
					<div class="card-header">Relevés de notes</div>
					<div class="card-body">
						<h2 style="text-align: center">
							<a class="btn btn-secondary" href="{{ path('import_rn') }}">Importer des relevés de
								notes</a>
						</h2>
						<h2 style="text-align: center">
							<a class="btn btn-secondary" href="{{ path('monitoring_rn') }}">Suivi du dépôt des relevés
								de
								notes</a>
						</h2>
						<h2 style="text-align: center">
							<a class="btn btn-secondary" href="{{ path('delete_import_rn') }}">Suppression de relevés de
								notes</a>
						</h2>
					</div>
				</div>
			</div>

			<div class="col-sm">
				<div class="card text-white bg-primary">
					<div class="card-header">Attestations de réussite</div>
					<div class="card-body">
						<h2 style="text-align: center"><a class="btn btn-secondary"
														  href="{{ path('import_attests') }}">Importer
								des attestations de réussite</a>
						</h2>
						<h2 style="text-align: center"><a class="btn btn-secondary"
														  href="{{ path('monitoring_attest') }}">Suivi du dépôt des
								attestations de réussite</a>
						</h2>
						<h2 style="text-align: center">
							<a class="btn btn-secondary" href="{{ path('delete_import_attest') }}">Suppression
								d’attestations de réussite</a>
						</h2>
					</div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
