<style>
    .inline {
        display: inline-block !important;
    }
</style>

<div class="container">
	<div class="row inline">
		<div class="inline">Bonjour</div>
		<div class="inline"><h5>{{ stud.Surname }}</h5></div>
		<div class="inline"><h4>{{ stud.Name }}</h4></div>
	</div>
</div>

{% if mode == 0 %}

	{% set session = "" %}
	{% set semestre = "" %}

	{% if bddData.session == "1" %}
		{% set session = "session <strong>initiale</strong>" %}
	{% endif %}
	{% if bddData.session == "2" %}
		{% set session = "<strong>seconde</strong> chance" %}
	{% endif %}
	{% if bddData.session == "U" %}
		{% set session = "session <strong>unique</strong>" %}
	{% endif %}

	{% if bddData.semestre|first == "1" %}
		{% set semestre = "semestre <strong>impair</strong>" %}
	{% endif %}
	{% if bddData.semestre|first == "2" %}
		{% set semestre = "semestre <strong>pair</strong>" %}
	{% endif %}
	{# {% if bddData.semestre|first == "A" and bddData.semestre|length > 1 %}
		{% set semestre = "semestre <strong>annuel</strong>" %}
	{% endif %} #}
	{% if bddData.semestre|first == "A" %} {#  and bddData.semestre|length == 1 %}#}
		{% set semestre = "<strong>annuel</strong>" %}
	{% endif %}

	{% if bddData.semestre|length == 3 %}
		{% set semestre = semestre ~ ",  page <strong>"~ bddData.semestre|last ~"</strong>" %}
	{% endif %}

	{% if (bddData.session == "1" or bddData.session == "2") and (bddData.semestre|first == "1" or
		bddData.semestre|first == "2" or bddData.semestre|first == "A") %}
		<p>Votre relevé de notes de <br><strong>{{ stud.Libelle == "" ? bddData.libelleForm : stud.libelle }}</strong>,
			{{ session|raw }}, {{ semestre|raw }}<br>
			a été déposé dans votre ENT, rubrique Scolarité/Documents.</p>
	{% endif %}

	{#    {% if (bddData.session == "1" or bddData.session == "2") and (bddData.semestre|first == "A") %} #}
	{#        <p>Votre relevé de notes de <br><strong>{{ stud.Libelle == "" ? bddData.libelleForm : stud.libelle }}</strong>, #}
	{#            {{ session|raw }}<br> #}
	{#            a été déposé dans votre ENT, rubrique Scolarité/Documents.</p> #}
	{#    {% endif %} #}
	{% if (bddData.session == "U") and (bddData.semestre|first == "1" or bddData.semestre|first == "2" or
		bddData.semestre|first == "A") %}
		<p>Votre relevé de notes de <br><strong>{{ stud.Libelle == "" ? bddData.libelleForm : stud.libelle }}</strong>,
			{{ semestre|raw }}<br>
			a été déposé dans votre ENT, rubrique Scolarité/Documents.</p>
	{% endif %}

{#	{% if (bddData.session == "U") and (bddData.semestre|first == "A") %}#}
{#		<p>Votre relevé de notes de <br><strong>{{ stud.Libelle == "" ? bddData.libelleForm : stud.libelle }}</strong>,#}
{#			<br> a été déposé dans votre ENT, rubrique Scolarité/Documents.</p>#}
{#	{% endif %}#}

{% endif %}

{% if mode == 1 %}

	{% if bddData.type == "VDI" %}
		<p>Votre attestation de réussite {{ stud.libelle }} au <br>diplôme de <strong>{{ stud.libelleObj }}</strong><br>
			a été déposée dans votre ENT, rubrique Scolarité/Documents.</p>
	{% endif %}

	{% if bddData.type == "VET" %}
		<p>Votre attestation de réussite {{ stud.libelle }} au <br>niveau <strong>{{ stud.libelleObj }}</strong><br> a
			été déposée dans votre ENT, rubrique Scolarité/Documents.</p>
	{% endif %}

	{% if bddData.type == "ELP" %}
		<p>Votre attestation de réussite au <br>module <strong>{{ stud.libelleObj }}</strong> de
			<strong>{{ stud.libelle }}</strong><br> a été déposée dans votre ENT, rubrique Scolarité/Documents.</p>
	{% endif %}

{% endif %}
<a href="https://ent.uca.fr/doc-scola/etudiant">https://ent.uca.fr/doc-scola/etudiant</a>
<br><br>
<p>Le service scolarité de votre formation</p>

<p>Université Clermont Auvergne<br><a href="https://www.uca.fr">www.uca.fr</a></p>
<br>
<i>Ce Courriel a été envoyé automatiquement, merci de ne pas y répondre</i>