{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

	<style>
        body {
            width: 99%;
        }
	</style>

{% endblock %}

{% block title %}Documents de scolarité{% endblock %}

{% block body %}

	<div class="row justify-content-md-center">
		<h2>Rechercher les documents d'un étudiant</h2>
	</div>

	{% form_theme form_by_num 'bootstrap_4_layout.html.twig' %}
	<div class="container">
		{{ form(form_by_num) }}
	</div>

	{% form_theme form_by_name 'bootstrap_4_layout.html.twig' %}
	<div class="container">
		{{ form(form_by_name) }}
	</div>

	{% if users is not null %}
		<div class="container">
			<table style="width:100%" class="table table-bordered table-striped" id="indexable_table">

				<thead>
				<tr style="text-align: center">
					<th scope="col">Numéro</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Composante</th>
					<th scope="col">Nombre de documents</th>
				</tr>
				</thead>

				<tbody>
				{% for user in users %}
					<tr style="text-align: center" id="{{ user.attributes.CLFDcodeEtu[0] }}">
						<td>
							<a href="{{ path('etudiant_home', {'numero': user.attributes.CLFDcodeEtu[0]}) }}">{{ user.attributes.CLFDcodeEtu[0] }}</a>
						</td>
						<td>{{ user.attributes.sn[0] }}</td>
						<td>{{ user.attributes.givenName[0] }}</td>
						<td>{{ user.attributes.supannEntiteAffectationPrincipale[0] }}</td>
						<td>{{ user.attributes.nb_docs[0] }}</td>
					</tr>
				{% endfor %}
				</tbody>

			</table>
		</div>
	{% endif %}

{% endblock %}

{% block javascripts %}
	<script>
        $(document).ready(function () {

            $('#indexable_table').DataTable({
                'lengthMenu': [[10, 50, 100, 500, -1], [10, 50, 100, 500, "All"]],
                'language': {
                    'emptyTable': 'Aucun étudiant'
                },
                "ordering": true,
                // "columnDefs": [
                //     {"type": "num", "targets": 4}
                // ],
                'order': [[4, "desc"]] // Keep our collection data order at load
            });

            $('tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                // console.log($(this).attr('id'));
            });

        });
	</script>
{% endblock %}